<h2>Welcome to this page!</h2>
<p>
  This page is designed to test my new aquired coding skills of ruby-on-rails. Is it exiting for you?
</p>

<table>
  <%= link_to 'Back to Topics', topics_path %>
</table>
